@media (min-width: 350px) and (max-width: 600px) {
  .sub-container {
    margin-top: 1.5rem;
    margin-left: 2rem;
  }
  .sub-container h3 {
    font-size: 1.5rem;
  }
  .navbar {
    display: none;
  }
  .menu-cdn {
    display: block;
    display: visible;
  }
  .menu-cdn i {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    margin-right: 40px;
  }
  /* Banner Start */
  .banner-img {
    margin-left: 5px;
  }
  .banner-img img {
    width: 90%;
    height: 600px;
    border-radius: 30px;
  }
  .banner-text h3 {
    font-size: 1.7rem;
    margin-left: 15px;
  }
  .banner-text .p-title > p {
    font-size: 1.1rem;
  }
  .inner-banner-text {
    flex-direction: column;
    margin-top: 30px;
    margin-left: 15px;
  }
  .banner-text input {
    width: 230px;
    height: 40px;
  }
  /* content */
  .content{
    flex-direction: column;
  }
  .content1{
    margin-bottom: 30px;
  }
  .content1 > h3{
    font-size: 30px;
    margin-top: -50px;
  }
  .content2 > img{
    width: 80%;
    margin-left: -50px;
  }
}


